<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transcribe Audio</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
    <h3>Audio Files</h3>
    <form th:action="@{/transcribeAudio}" method="post">
        <div th:each="audioFile : ${audioFiles}">
            <input type="radio" th:name="selectedAudio" th:value="${audioFile.url}" th:id="${audioFile.name}">
            <label th:for="${audioFile.name}" th:text="${audioFile.name}"></label>
            <audio controls th:src="${audioFile.url}"></audio>
            <input type="hidden" th:name="audioFileName" th:value="${audioFile.name}">
        </div>
        <button type="submit">Transcribe</button>
    </form>
    <div>
        <a href="/">Back to Home</a>
    </div>
</div>
</body>
</html>